@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  width: 100%;
  grid-template: auto / 15% 70% 15%;
}

.CV {
  margin: 20px 0;
  padding: 20px 0;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.75);
  grid-column: 2 / 3;
  display: grid;
  grid-template: repeat(2, auto) / 35% 65%;
}

.CV__header {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 40% 60%;
}

.CV__header--photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CV__header--photo img {
  width: 65%;
  padding: 20px;
  border-radius: 100%;
}

.CV__header--data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.CV__header--data h2 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: -10px;
  letter-spacing: 1px;
}

.CV__header--data h3 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.CV__header--data h4 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.CV__aside {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0 10px;
}

.CV__content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0 10px;
}

.CV__aside--info {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 160px;
}

.CV__aside--info .info__icons {
  grid-column: 1/2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.CV__aside--info .info__icons i {
  color: #467bc2;
}

.CV__aside--info .info__list {
  grid-column: 2/3;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.CV__aside--info .info__list p {
  font-size: 15px;
}

.CV__aside--im {
  box-sizing: content-box;
  padding: 5px 10px;
}

.CV__aside--im h2 {
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 2px solid #000000;
}

.CV__aside--im p {
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
  text-align: justify;
}

.CV__aside--programs {
  padding: 5px 10px;
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
}

.CV__aside--programs h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 2px solid #000000;
}

.programs__list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.programs__list p {
  padding: 3px 0;
  font-size: 13px;
}

.programs__starts {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.programs__starts p {
  padding: 3px 0;
  font-size: 13px;
  letter-spacing: 10px;
  text-align: right;
}

.CV__aside--references {
  padding: 5px 10px;
}

.CV__aside--references h2 {
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 2px solid #000000;
}

.references__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.references__list p {
  padding: 5px 0;
  font-size: 13px;
}

.references__list p span {
  padding: 0px 10px;
  font-size: 13px;
}

.CV__content--experence {
  width: 100%;
  padding: 5px 10px;
}

.CV__content--experence h2 {
  text-transform: uppercase;
  width: 95%;
  margin-top: 10px;
  padding-bottom: 3px;
  border-bottom: 2px solid #000000;
}

.experence__enterprice {
  width: 95%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.experence__enterprice--date {
  width: 100%;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.experence__enterprice--date p {
  font-size: 14px;
  color: #9a9a9a;
}

.experence__enterprice--data {
  width: 100%;
  grid-column: 2/3;
  text-align: justify;
}

.experence__enterprice--data h3 {
  text-transform: uppercase;
  font-size: 17px;
}

.experence__enterprice--data h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #9a9a9a;
}

.experence__enterprice--data p {
  font-size: 13px;
}

.CV__content--education {
  width: 100%;
  padding: 5px 10px;
}

.CV__content--education h2 {
  text-transform: uppercase;
  width: 95%;
  margin-top: 10px;
  padding-bottom: 3px;
  border-bottom: 2px solid #000000;
}

.education__school {
  padding: 10px 0;
  width: 95%;
  display: grid;
  grid-template-columns: 25% 65%;
}

.education__school--date {
  width: 100%;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.education__school--date p {
  font-size: 14px;
  color: #9a9a9a;
}

.education__school--data {
  width: 100%;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.education__school--data h3 {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template: 1fr / 1fr;
  }

  .CV {
    margin: 0;
    padding: 20px 5px;
    box-shadow: none;
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .CV__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CV__header--photo img {
    width: 300px;
  }

  .CV__header--data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .CV__aside {
    padding: 0 10px;
  }

  .CV__aside--info {
    grid-template-columns: 30% 10% 30% 30%;
  }

  .CV__aside--info .info__icons {
    grid-column: 2/3;
  }

  .CV__aside--info .info__list {
    grid-column: 3/4;
  }

  .CV__content {
    padding: 0 10px;
  }

  .experence__enterprice {
    grid-template-rows: repeat(2, auto);
  }

  .experence__enterprice--date {
    grid-row: 2;
  }

  .experence__enterprice--data {
    grid-row: 1;
  }
  .education__school {
    grid-template-columns: repeat(2, 1fr);
  }

  .education__school--date {
    grid-column: 1;
  }

  .education__school--data {
    grid-column: 2;
  }
}

@media screen and (max-width: 639px) {
  .container {
    grid-template: 1fr / 1fr;
  }

  .CV {
    margin: 0;
    padding: 20px 5px;
    box-shadow: none;
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .CV__header--photo img {
    width: 50%;
  }

  .CV__header--data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .CV__aside {
    padding: 0 10px;
  }

  .CV__aside--info {
    grid-template-columns: 30% 70%;
  }

  .CV__aside--info .info__icons {
    grid-column: 1;
  }

  .CV__aside--info .info__list {
    grid-column: 2;
  }

  .CV__content {
    padding: 0 10px;
  }

  .experence__enterprice {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
  }

  .experence__enterprice--date {
    grid-column: 1;
    grid-row: 2;
  }

  .experence__enterprice--data {
    grid-column: 1;
    grid-row: 1;
  }

  .education__school {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
  }

  .education__school--date {
    grid-column: 1;
    grid-row: 2;
  }

  .education__school--data {
    grid-column: 1;
    grid-row: 1;
  }
}
